---
layout: default
---
<div class="post actualPost">
 
  <article class="post-content">
    <div class="text-center">
        <div class="contentText">
            <a href="/{{site.baseurl}}/index.html"><span class="backlink">&larr;</span></a>
            <div class="text-center clearLeft">
                <img src="/{{site.baseurl}}/assets/images/{{page.puzzleType}}.jpg">
            </div>
            <h1>{{page.title}}</h1>
            <p class="postDate"><i>({{page.date | date: "%-d. %B %Y"}})</i></p>
            <hr class="postDivisonLine" />
            {{ content }}
        </div>
    </div>
  </article>

</div>
